:root{
    --primary-color: #1d5888; 
    --secondary-color: #ff993b;
    --dark-color: #292929;
    --white-color: #dff3e4;
    --background-color: #
}

body{
    color: var(--dark-color);
    background-color: var()
}

nav{
    background-color: var(--dark-color);
}

footer{
    background-color: var(--dark-color);
}

h1,h2,h3,h4,h5,h6{
    color: #12ccf6;
}

.lead {
    color: #12ccf6;
    font-weight: bolder;
}

.Fizz{
    color: #12ccf6;
}

.Buzz{
    color: #16505d;
}

.FizzBuzz{
    color: #ff001b;
    font-weight: 400;
}

main>.container {
    padding-top: 40px;
}
.sticky-footer {
    position: sticky;
    left: 0;
    bottom: 0;
    width: 100%;
}

footer{
    padding-right: 1rem;
}

li>a{
    color: black !important;
}

.redit{
    color: #ff001b;
    font-weight: bold;
}

li>a:hover{
    color: #ff001b !important;
}

footer .social>a{
    color: var(--dark-color);
    opacity: .75;
}

footer .social>a:hover{
    opacity: .9;
    color: #ff001b;
}

.hundred{
    width: 100%;
    height: auto;
    left: 0px;
    right: 0px;
}

.bsicon{
    color: #6f42c1;
}

.jsicon{
    color: rgb(226, 211, 4);
}

.htmlicon{
    color: orangered;
}

.cssicon{
    color: rgb(11, 82, 214);
}

.checklist >li i{
    color: #ff001b;
}

code[class*="language-"],
    pre[class*="language-"] {
        white-space: pre-wrap;
        word-break: break-all;
        word-wrap: break-word;
}

.btn{
    background-color: #ff001b;
    color: white;
    font-weight: bold;
}

.btn:hover{
    background-color: #12ccf6;
    color: white;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

.button {
    transition-duration: 0.4s;
    background-color: #ff001b;
    color: white;
  }
  
.button:hover {
    background-color: #3fd7fa;
    color: white;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
  }

.color{
    background-color: #3fd7fa;
    color: black;
}

.className, .className2{
    color: red;
}